:root {
  --primary-green: #53E09E;
  --darker-green: #2DB26C;
  --lighter-green: #7DF2C2;
  --danger: #ee5253;
  --danger-semilight: #f49393;
  --danger-light: #fbdbdb;
  --success: #1dd1a1;
  --blue: #5242EB;
  --purple: #5f27cd;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}
