.authLayout {
  padding: 24px;
  max-width: 90vw;
}

.authBody {
  width: 480px;
}

.successCard {
  background-color: white;
  border-radius: 6px;
  box-shadow: black 0px 0px 6px -3px;
  padding: 24px;
}

.successCard > h3 {
  font-size: 36px;
}

.authBody h1 {
  font-size: 32px;
}

.authBody > form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.authBody a {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 24px;
  color: var(--purple);
}
