
.textfield {
    margin-bottom: 2px;
    width: 100%;
  }
  
  .textfield > label {
    font-size: 16px;
  }
  
  .textfield > input {
    display: block;
    width: 100%;
    padding: 14px 16px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .textfield > input:focus {
    outline: solid 1px var(--darker-green);
  }
  
  .textfield > span {
    min-height: 24px;
    display: block;
    box-sizing: border-box;
    font-size: 14px;
    color: var(--danger);
    width: 100%;
  }